{% extends 'base.html' %}
{% block corpo %}

 <div class="container">
    <div class="row">
        <div class="sobre">
        <h1 class="my-4">Sobre Mim </h1> 
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        <p>
            Lorem ipsum sed gravida imperdiet feugiat venenatis aliquam, pretium torquent porta mauris nec fermentum curabitur, porta nec integer odio mi nisi. mattis rutrum curae mattis habitant nec curabitur faucibus vel id dictum purus, nisi netus lorem congue neque primis erat curabitur turpis luctus euismod, pharetra conubia himenaeos nunc platea massa consectetur dictumst eget rutrum. mi laoreet donec pretium tristique quam orci mattis convallis aenean molestie mollis, faucibus vestibulum suscipit cras elementum justo luctus egestas blandit primis urna, tortor adipiscing lacus lobortis nisi taciti malesuada fames duis conubia. nullam lacus litora felis suscipit ac, aenean erat sapien iaculis. 
        </p>
        
     </div>
    </div> 
 </div>

{% endblock %}